:root {
    --color-white: #FCF9FC;

    --color-blue-light: #3D5A80;
    --color-blue: #152C4A;
    --color-blue-dark: #0D1B2E;

    --color-red-light: #FF6F60;
    --color-red: #E53935;
    --color-red-dark: #AB000D;

    --color-yellow-light: #FFECB3;
    --color-yellow: #FFC107;
    --color-yellow-dark: #FF8F00;

    --color-green-light: #80E27E;
    --color-green: #4CAF50;
    --color-green-dark: #087F23;

    --color-orange-light: #FFC947;
    --color-orange: #FF9800;
    --color-orange-dark: #C66900;

    --color-gray-50: #F9FAFB;
    --color-gray-100: #F3F4F6;
    --color-gray-200: #E5E7EB;
    --color-gray-300: #D1D5DB;
    --color-gray-400: #9CA3AF;
    --color-gray-500: #6B7280;
    --color-gray-600: #4B5563;
    --color-gray-700: #374151;
    --color-gray-800: #1F2937;
    --color-gray-900: #111827;
}

body{
    background-color: var(--color-yellow);
    color: var(--color-blue);
}