# Dependencies
node_modules/
back-end/node_modules/
front-end/node_modules/

# Environment & Kredensial (JANGAN SAMPAI KE-PUSH!)
.env
back-end/.env
back-end/serviceAccountKey.json

# Build output
front-end/dist/
back-end/dist/

# Log files
*.log
npm-debug.log*

# Editor/OS files
.vscode/
.DS_Store
Thumbs.db